<form [formGroup]="personalData" (ngSubmit)="submitionForm()">
  <!-- username -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control was-validated"
      id="username"
      placeholder="الاسم"
      dir="rtl"
      formControlName="name"
      [ngClass]="{
        'border border-danger': name.errors && name.dirty && name.touched,
        'border border-success': !name.errors && name.dirty && name.touched
      }"
    />
    <label for="username">الاسم</label>
    <div class="validations-error">
      @if (name.touched && name.dirty) { @if (name.getError('required')) {
      <p class="alert alert-warning">الاسم مطلوب.</p>
      } @if (name.getError('minlength')) {
      <p class="alert alert-warning">الاسم يجب أن يكون على الأقل 3 أحرف.</p>
      } @if (name.getError('maxlength')) {
      <p class="alert alert-warning">الاسم يجب ألا يتجاوز 20 حرفًا.</p>
      } }
    </div>
  </div>
  <!-- age -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="age"
      placeholder="العمر"
      formControlName="age"
      dir="rtl"
      [ngClass]="{
        'border border-danger': age.errors && age.dirty && age.touched,
        'border border-success': !age.errors && age.dirty && age.touched
      }"
    />
    <label for="age">العمر</label>
    <div class="validations-error">
      @if (age.touched && age.dirty) { @if (age.getError('required')) {
      <p class="alert alert-warning">العمر مطلوب.</p>
      } @if (age.getError('min')) {
      <p class="alert alert-warning">العمر يجب أن يكون أكبر من أو يساوي 18.</p>
      } @if (age.getError('max')) {
      <p class="alert alert-warning">العمر يجب أن يكون أقل من أو يساوي 60.</p>
      } @if (age.getError('pattern')) {
      <p class="alert alert-warning">يجب أن يكون العمر قيمة رقمية.</p>
      } }
    </div>
  </div>
  <!-- phone -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="phone"
      placeholder="رقم الهاتف"
      dir="rtl"
      formControlName="phone"
      [ngClass]="{
        'border border-danger': phone.errors && phone.dirty && phone.touched,
        'border border-success': !phone.errors && phone.dirty && phone.touched
      }"
    />
    <label for="phone">رقم الهاتف</label>
    <div class="validations-error">
      @if (phone.touched && phone.dirty) { @if (phone.getError('required')) {
      <p class="alert alert-warning">.رقم الهاتف مطلوب</p>
      } @if (phone.getError('pattern')) {
      <p class="alert alert-warning">رقم الهاتف يجب أن يتكون من 11 أرقام</p>
      } }
    </div>
  </div>
  <!-- maritalStatus -->
  <div class="mb-3">
    <select
      class="form-select form-select-md mb-3"
      aria-label=".form-select-lg example"
      id="maritalStatus"
      formControlName="maritalStatus"
      [ngClass]="{
        'border border-danger':
          maritalStatus.errors && maritalStatus.dirty && maritalStatus.touched,
        'border border-success':
          !maritalStatus.errors && maritalStatus.dirty && maritalStatus.touched
      }"
    >
      <option selected disabled value="">الحالة الاجتماعية</option>
      <option value="single">أعزب</option>
      <option value="married">متزوج</option>
      <option value="divorced">مطلق</option>
      <option value="widowed">أرمل</option>
    </select>
    @if (maritalStatus.touched ) { @if
    (maritalStatus.getError('notSelectValue')) {
    <p class="alert alert-warning">الحالة الاجتماعية مطلوبة .</p>
    } }
  </div>
  <!-- academicStudy -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="academicStudy"
      placeholder="الدراسة الأكاديمية"
      dir="rtl"
      formControlName="academicStudy"
      [ngClass]="{
        'border border-danger':
          academicStudy.errors && academicStudy.dirty && academicStudy.touched,
        'border border-success':
          !academicStudy.errors && academicStudy.dirty && academicStudy.touched
      }"
    />
    <label for="academicStudy">الدراسة الأكاديمية</label>
    <div class="validations-error">
      @if (academicStudy.touched && academicStudy.dirty) { @if
      (academicStudy.getError('required')) {
      <p class="alert alert-warning">الدراسة الأكاديمية مطلوبة.</p>
      } @if (academicStudy.getError('pattern') ||
      academicStudy.getError('minlength')) {
      <p class="alert alert-warning">قم بادخال اسم أكاديمية بشكل صحيح.</p>
      } }
    </div>
  </div>
  <!-- siblingOrder -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="siblingOrder"
      placeholder="الترتيب في الأسرة"
      dir="rtl"
      formControlName="siblingOrder"
      [ngClass]="{
        'border border-danger':
          siblingOrder.errors && siblingOrder.dirty && siblingOrder.touched,
        'border border-success':
          !siblingOrder.errors && siblingOrder.dirty && siblingOrder.touched
      }"
    />
    <label for="siblingOrder">الترتيب في الأسرة</label>
    <div class="validations-error">
      @if (siblingOrder.touched && siblingOrder.dirty ) { @if
      (siblingOrder.getError('required')) {
      <p class="alert alert-warning">ترتيبك بين إخوتك مطلوب.</p>

      } @if (siblingOrder.getError('pattern')) {
      <p class="alert alert-warning">يجب أن يكون ترتيبك بين إخوتك رقمًا.</p>

      } }
    </div>
  </div>

  <button class="btn text-bg-dark d-block ms-auto" type="submit">التالي</button>
</form>
