<section class="py-2">
  <div class="container">
    <figure class="w-25 mx-auto">
      <!-- <img class="w-100" src="../assets/cover.jpeg" alt="" /> -->
      <!-- <img class="w-100" src="../assets/cover2.jpeg" alt="" /> -->
      <img class="w-100 rounded-5" src="../assets/logo.jpeg" alt="" />
    </figure>
    <h2>حجز جلسة مع أخصائي نفسي</h2>
    @if (showFirstForm) {
    <app-personal-information
      (emitFormData)="handlePersonalInfoSubmit($event)"
      [showFirstForm]="showFirstForm"
    ></app-personal-information>
    } @if (!showFirstForm) {
    <app-health-ambitions></app-health-ambitions>
    }
  </div>
</section>
