<form>
  <!-- ambitions -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="ambitions"
      placeholder="طموحاتك"
      dir="rtl"
    />
    <label for="ambitions">طموحاتك</label>
  </div>
  <!-- fears -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="fears"
      placeholder="مخاوفك"
      dir="rtl"
    />
    <label for="fears">مخاوفك</label>
  </div>
  <!-- physicalDiseases -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="physicalDiseases"
      placeholder="هل تعاني من أي أمراض جسدية؟"
      dir="rtl"
    />
    <label for="physicalDiseases">هل تعاني من أي أمراض جسدية؟</label>
  </div>
  <!-- organicMedications -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="organicMedications"
      placeholder="هل تتناول أدوية عضوية؟"
      dir="rtl"
    />
    <label for="organicMedications">هل تتناول أدوية عضوية؟</label>
  </div>
  <!-- diagnosedMentalDisorder -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="diagnosedMentalDisorder"
      placeholder="هل تم تشخيصك بأحد الاضطرابا النفسية؟"
      dir="rtl"
    />
    <label for="diagnosedMentalDisorder"
      >هل تم تشخيصك بأحد الاضطرابا النفسية؟</label
    >
  </div>
  <!-- psychiatricMedications -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="psychiatricMedications"
      placeholder="هل تتناول أدوية نفسية؟"
      dir="rtl"
    />
    <label for="psychiatricMedications">هل تتناول أدوية نفسية؟</label>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <button type="button" class="btn btn-secondary">رجوع</button>
    <button class="btn btn-dark">ارسال</button>
  </div>
</form>
